
    <!-- footer-area -->
    <footer>
        <div class="footer-top-wrap">
            <div class="container">
                <div class="footer-menu-wrap">
                    <div class="row align-items-center">
                        <div class="col-lg-2">
                            <div class="footer-logo">
                                <a href=""><img class="img-fluid" src="assets/images/logo.png" alt="POPC"></a>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="footer-menu">
                                <nav>
                                    <ul class="navigation">
                                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink=''>Home</a></li>
                                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink=''>Comic</a></li>
                                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink=''>About</a></li>
                                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink=''>Contact</a></li>
                                    </ul>
                                    <!--<div class="footer-search">
                                        <form action="#">
                                            <input type="text" placeholder="Find Favorite Movie">
                                            <button><i class="fas fa-search"></i></button>
                                        </form>
                                    </div>-->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-quick-link-wrap">
                    <div class="row align-items-center">
                        <div class="col-md-7">
                            <div class="quick-link-list">
                                <ul>
                                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink=''>FAQ</a></li>
                                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink=''>Cookie</a></li>
                                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink=''>Terms of Use</a></li>
                                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink=''>Privacy</a></li>
                                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink=''>Copyright</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="footer-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/LycaProductions/" target="_new"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/lyca_productions" target="_new"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.youtube.com/c/lycaproductions" target="_new"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="https://twitter.com/LycaProductions" target="_new"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="copyright-text">
                            <p>Copyright © 2022 POPC Reads. All Rights Reserved. Property of POPC Reads</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->
