<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="title">About</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink=''>Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
<br><br><br>
<!-- about -->
    
        <div class="container">
            <div class="row align-items-center">
            
                <div class="col-lg-6">
                    <div class="services-content-wrap">
                        <div class="section-title title-style-two mb-20">
                            <!--<span class="sub-title">About</span>-->
                            <h2 class="title">OUR STORY</h2>
                        </div>
                        <p>In A World Very Close By…</p>
                        <p>Amna Ahmed, Arafaat Ali Khan and Haroon Tahir, geeks and (moderately talented) artists, were unable to find a reliable marketplace to sell their art and products.</p>
                        <p>Alas, the problem was solved!</p>
                        <p>And POPC was born</p>
                        <p>A marketplace that unites creators and shoppers under one galaxy.</p>
                        <p>A universe where no merch is alike!</p>
                    </div>
                </div>
                <div class="col-lg-5 offset-1">
                    <div class="services-img-wrap">
                        <img class="img-fluid about-right-img" src="assets/images/about/popc-2022-about-us-our-story.jpg" alt="POPC">
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="services-img-wrap">
                        <img class="img-fluid about-right-img" src="assets/images/about/popc-2022-about-us-curator.jpg" alt="POPC">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-content-wrap">
                        <div class="section-title title-style-two mb-20">
                            <span class="sub-title">About</span>
                            <h2 class="title">Lyca Production</h2>
                        </div>
                        <p>Lyca Productions is an Indian entertainment company, which was established by Subaskaran Allirajah in 2014. A subgroup of Lycamobile, the production studio has been involved in the production and distribution of films made in South India. The Vision of Lyca is to create, promote and release content across varying genres.</p>
                    </div>
                </div>
                
            </div>
        </div>
    
        <br><br><br>